*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.accueil {
    background: url(https://cdn.pixabay.com/photo/2020/05/21/21/28/ai-5202865_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}